.aboutBranding {
  background: var(--light-gray-orange);
  border-top: 1px solid var(--night-gray);
  padding: 65px 35px;
  position: relative;

  @media (min-width: 768px) {
    padding: 75px 0;
  }

  @media (min-width: 1280px) {
    padding: 100px 0;
  }

  @media (min-width: 1440px) {
    padding: 125px 0;
  }
}

.aboutBranding__info {
  @media (min-width: 1024px) {
    margin: 0 auto;
    width: 62%;
  }

  @media (min-width: 1280px) {
    width: 56%;
  }
}
.aboutBranding__inner {
  position: relative;
  @media (min-width: 768px) {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
}

.aboutBranding__item {
  position: relative;

  @media (min-width: 768px) {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 50%;
  }

  @media (min-width: 768px) {
    &--1 {
      padding: 0 12.5% 0 4%;
    }
  }

  &--2 {
    padding-top: 60px;

    @media (min-width: 768px) {
      padding: 0 35px;
    }

    @media (min-width: 1024px) {
      padding: 0;
    }
  }
}

.aboutBranding__list {
  position: relative;

  @media (min-width: 768px) {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row-reverse wrap;
    flex-flow: row-reverse wrap;
  }
}

.aboutBranding__message {
  margin-top: 20px;

  a {
    color: var(--night-gray);
    text-decoration: underline;
  }
}
.aboutBranding__image,
.aboutBranding__image * {
  display: block;
  height: auto;
  width: 100%;
}
.aboutBranding__imageContainer {
  margin-left: 27%;
}
.aboutBranding__imageSide,
.aboutBranding__imageSide * {
  display: block;
  height: auto;
  width: 100%;
}
.aboutBranding__imageSideContainer {
  bottom: 14%;
  left: 0;
  position: absolute;
  width: 39%;
}
.aboutBranding__title {
  font-size: 20px;

  @media (min-width: 375px) {
    font-size: 25px;
  }

  @media (min-width: 414px) {
    font-size: 30px;
  }

  @media (min-width: 1280px) {
    font-size: 45px;
  }

  @media (min-width: 1440px) {
    font-size: 50px;
  }
}
