@media (min-width: 830px) {
  .navMobileMenu {
    display: none;
  }
}

// .header-announcement {
//   height: 0;
//   overflow: hidden;
//   position: relative;
// }

// .no-js .header-announcement {
//   border-bottom: 1px solid var(--night-gray);
//   height: auto;
//   overflow: visible;
//   padding: 5px 40px 7px;
// }
// .header-announcement__close {
//   align-items: center;
//   display: flex;
//   flex-flow: row wrap;
//   height: 40px;
//   justify-content: center;
//   position: absolute;
//   right: 0;
//   top: 0;
//   width: 40px;
// }
// .no-js .header-announcement__close {
//   display: none;
// }
// .header-announcement__item {
//   font-size: 14px;
//   line-height: 1.2;
//   padding: 5px 0;
//   text-align: center;
// }
// .header-announcement__item a {
//   color: inherit;
//   text-decoration: underline;
// }
// .no-js .header-announcement__item + .header-announcement__item {
//   display: none;
// }
// .header-announcement__list {
//   align-items: center;
//   min-height: 30px;
// }

.headerContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
  width: 100%;
  border-bottom: 1px solid var(--night-gray);

  @include laptop {
    padding: 0 30px;
  }

  @include desktop {
    padding: 0 35px;
  }

  @include desktop {
    flex-direction: row;
    flex-wrap: nowrap;
    height: 65px;
  }
}


.navLogo {
  width: 160px;

  @media (min-width: 375px) {
    width: 200px;
  }

  @media (min-width: 414px) {
    left: 50%;
    margin: -6px 0 0 -107px;
    position: absolute;
    top: 50%;
    width: 214px;
  }

  @media (min-width: 768px) {
    margin: 0 0 0 -60px;
    top: 19px;
    width: 250px;
  }

  @media (min-width: 1280px) {
    margin-top: -8px;
    top: 50%;
    z-index: 10;
  }

  @media (min-width: 1440px) {
    margin: -10px 0 0 -80px;
    width: 300px;
  }

  @media (min-width: 1600px) {
    margin: -10px 0 0 -120px;
    width: 350px;
  }
}
.navLogo__image {
  height: auto;
  width: 300px;
}
.navLogo__link {
  display: block;
}
.header-search {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  background: var(--desert-storm);
  display: flex;
  flex-flow: row wrap;
  opacity: 0;
  visibility: hidden;
  z-index: 100;

  @media (min-width: 1024px) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (min-width: 1280px) {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.navRight {
  @media (min-width: 768px) {
    margin-left: auto;
  }
}
.navRight__count {
  color: var(--night-gray);
  font-family: FuturaPTMedium, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: -4px;
  position: absolute;
  left: 0;
  text-align: center;
  top: 50%;
  width: 100%;
}
.navRight__icon {
  align-items: center;
  color: var(--night-gray);
  display: flex;
  height: 53px;
  justify-content: center;

  &::before {
    bottom: 0;
    content: '';
    left: -5px;
    position: absolute;
    right: -5px;
    top: 0;
  }

  @media (min-width: 375px) {
    &::before {
      left: -6px;
      right: -6px;
    }
  }

  @media (min-width: 1280px) {
    height: 64px;
  }
}
.navRight__item {
  position: relative;

  &--cart {
    margin-left: 11px;
  }

  @media (min-width: 375px) {
    &--cart {
      margin-left: 12px;
    }
  }

  @media (min-width: 414px) {
    &--cart {
      margin-left: 20px;
    }
  }

  @media (min-width: 1440px) {
    &--cart {
      margin-left: 30px;
    }
  }
}

.navRight__list {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}
