/* --- VARIBLES --- */
// Media Queries
$mobile-width: 375px;
$large-mobile-width: 414px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1280px;
$large-desktop-width: 1440px;
$extra-large-desktop-width: 1600px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}
@mixin mobile-wide {
  @media (min-width: #{$large-mobile-width}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: #{$laptop-width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin large-desktop {
  @media (min-width: #{$large-desktop-width}) {
    @content;
  }
}

@mixin extra-large-desktop {
  @media (min-width: #{$extra-large-desktop-width}) {
    @content;
  }
}
