.navLabels {
  @media (min-width: 768px) {
    width: 100%;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    order: 1;
  }
}

.nav__link {
  display: flex;
  align-items: center;
  font-family: FuturaPTMedium, Arial, sans-serif;
  color: var(--night-gray);
  font-weight: 500;

  &--active {
    font-family: AdobeGaramondProItalic;
    font-weight: 500;
    margin-top: 2px;
  }

  &--desktop {
    padding-left: 0 !important;
  }
}

@media (min-width: 768px) {
  .nav__item:hover .nav__link:before {
    opacity: 1;
  }
  .nav__item:hover .nav__menu {
    opacity: 1;
    visibility: visible;
  }
}

.nav__link {
  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: 768px) {
    font-size: 13px;
    text-transform: uppercase;
    padding: 0 10px 15px 10px;
    position: relative;

    &::before {
      background: var(--night-gray);
      bottom: 0;
      height: 2px;
      left: 8px;
      content: '';
      opacity: 0;
      position: absolute;
      right: 8px;
      transition: opacity 0.3s;
    }
  }

  @media (min-width: 1024px) {
    padding: 0 15px 15px 15px;

    &::before {
      left: 16px;
      right: 16px;
    }
  }

  @media (min-width: 1280px) {
    height: 65px;
    line-height: 65px;
    padding: 10px;

    &::before {
      left: 11px;
      height: 3px;
      right: 11px;
    }
  }

  @media (min-width: 1440px) {
    font-size: 14px;
    padding: 0 10px;

    &::before {
      left: 13px;
      height: 4px;
      right: 13px;
    }
  }

  @media (min-width: 1600px) {
    padding: 0 20px 0 15px;

    &::before {
      left: 16px;
      right: 16px;
    }
  }
}

.nav__list {
  @media (min-width: 768px) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

@media (min-width: 1280px) {
  .nav__list--right {
    padding-right: 20px;
  }
}

.navHeader {
  @media (max-width: 830px) {
    border-top: 1px solid var(--unfussy-beige);
    bottom: 0;
    left: 0;
    overflow-y: auto;
    padding-bottom: 50px;
    position: absolute;
    top: 75px;
    width: 100%;
  }

  @media (min-width: 831px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 1280px) {
    justify-content: space-between;
  }
}
